* {
    padding: 0;
    margin: 0;
    font-family: Playfair;
}

body {
    background-color: rgb(226, 231, 231);
}

.card {
    width: 500px;
    height: 278px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nom {
    grid-row: 1;
    padding: 15px;
}

.description {
    grid-row: 2;
    padding: 15px;
}

.contact {
    grid-row: 3;
    padding: 15px;
}

.illustration {
    grid-row: 1/4;
    height: 278px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
}