* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(66, 58, 73);
    width: 390px;
    padding: 50px min(5em, 8%);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main {
    width: fit-content;
}

h1, #result {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(222, 243, 236);
}

#result {
    text-align: left;
    padding: 5px;
    background-color: rgb(222, 243, 236);
}

em {
    font-style: normal;
}