* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    max-width: 600px;
    margin: auto;
}

.container-hat {
    height: 50px;
    background-color: rgb(109, 68, 6);
    border-radius: 20px 20px 0 0;
}

.title {
    padding: 20px 20px 0;
    text-align: center;
}

.container-photo {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    flex-wrap: wrap;
}

.photo img {
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.photo img:hover {
    transform: scale(1.2);
}

h2 {
    text-align: center;
    padding-top: 10px;
}

.bottom-text {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

.diapo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.diapo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

#close-btn {
    position: absolute;
    right: 30px;
    top: 20px;
    color: white;
    font-size: 2em;
    cursor: pointer;
}