img {
    border-radius: 75px;
}

h2 {
    font-size: 18px;
}

div {
    width: 80vw;
    max-width: 500px;
    margin: auto;
}

body {
    background-color: slateblue;
    font-family: "Trebuchet MS";
    color: white;
    text-align: center;
}

a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: slateblue;
}